@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row px-4">
            <img src=/iceberg.jpg height=60px width="60px" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
