<p>
    This is help message
</p>

@code {
    //https://www.c-sharpcorner.com/article/modal-popup-window-in-blazor-webassembly/
    //[Parameter,EditorRequired] public string message { get; set; }
}
